{% extends 'workshop_app/base.html' %}

{% block title %}
 Workshop Statistics
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-sm mb-4">
                <div class="card-header text-center fw-bold">
                    Teams
                </div>
                <ul class="nav nav-pills flex-column list-group list-group-flush">
                    {% for team in all_teams %}
                        <li class="nav-item">
                            <a href="{% url 'statistics_app:team' team.id %}" class="nav-link list-group-item">
                                Team {{ forloop.counter }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card shadow-sm mb-4">
                <div class="card-header text-center fw-bold">
                    Team Workshop Chart
                </div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ team_labels|safe }},
            datasets: [{
                data: {{ ws_count|safe }},
                label: "Team Members Workshops",
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            }
        }
    });
</script>
{% endblock %}